/*css for small screen*/

body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-clip: content-box; /* Clip the background to the content box */
    background-size: 80% 50%; 
    background-position:left bottom;
    background-repeat: no-repeat;
    background-image: url(img/bg.png);
    
}



h2 {

    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lets_code {
    font-family: monospace;
    font-size: 20px;
}

/***css for big screen***/

@media only screen and (min-width: 800px) {
 body{
    height: 100vh;
    background-size: 60% 80%; 
    background-position: left bottom;

 }
    h2{
    font-size:50px ;
  }
  
    .lets_code {
        font-family: monospace;
        font-size: 35px;
    } 
}


footer{
    position: fixed;
    left: 0;
    right: 0;
    background-color: red;
    bottom: 0;
    color: white;
    font-size: large;
    overflow: hidden;
}
footer p{
    margin: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}