/*css for small screen*/

body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h2 {

    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lets_code {
    font-family: monospace;
    font-size: 20px;
}

/***css for big screen***/

@media only screen and (min-width: 800px) {
  h2{
    font-size:50px ;
  }
  
    .lets_code {
        font-family: monospace;
        font-size: 35px;
    } 
}